@import './fonts';
@import 'components';


*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background: #F1F1F1;
	color: rgb(255, 255, 255);
	min-height: 100Vh;
	font-family: Roboto;
}
body.lock {
	overflow: hidden;
}
li {
	list-style-type: none;
}
a, a:hover {
	text-decoration: none;
}
.container {
	width: 100%;
	max-width: 1860px;
	padding: 0 10px;
	margin: 0 auto;
}
